.badge-color {
    background-color: var(--color) !important;
    border-color: var(--color) !important;
}

.contain-img {
    object-fit: contain
}

::-webkit-inner-spin-button {
    opacity: 1;
    margin-left: .4rem;
    margin-right: -.5rem;
    filter: invert(.84);
}

.desc p {
    margin-bottom: 0;
    margin-top: 0;
}

.card-grid {
    display: grid;
    grid-template-rows: auto 1fr auto
}

.card-desc p {
    margin: 0
}

.gallery .details span+span::before,
#viewMediaInfo span+span::before {
    content: " • "
}

.gallery .card {
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease
}

.gallery .card:hover {
    transform: scale(1.05)
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50rem);
    grid-auto-rows: 27rem;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem
}

.pointer {
    cursor: pointer
}

section {
    display: none;
}

section:target {
    display: flex !important;
    height: 100%
}

.material-icons {
    font-size: 18px;
    align-self: center
}

.close {
    font-family: Arial;
}

.skeloader {
    position: relative;
    overflow: hidden;
}

.skeloader::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #25282c 50%, transparent 100%);
    animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-iteration-count: infinite;
}

#trailer[src=""] {
    display: none;
}

.trailer {
    padding-bottom: 56.25%;
}

#episodes>div {
    flex: none
}

.ep-title {
    background: rgba(31, 38, 49, 0.7);
}

#search:focus {
    box-shadow: none
}

#pageWrapper {
    transition: top .4s cubic-bezier(.25, .8, .25, 1);
}

.nav-hidden>nav {
    top: calc(-1* var(--navbar-height)) !important;
}

.nav-hidden>.content-wrapper {
    top: 0 !important;
    height: 100% !important;
}

.content-wrapper {
    transition: top .4s cubic-bezier(.25, .8, .25, 1);
    transition-property: top, height;
}

nav {
    transition: top .4s cubic-bezier(.25, .8, .25, 1);
}

#view {
    background: no-repeat center center fixed;
    background-size: cover;
}

#view>div {
    backdrop-filter: blur(10px) brightness(0.5);
}

#viewEpisodesWrapper.hidden {
    opacity: 0;
    height: 0
}

#viewEpisodesWrapper {
    opacity: 1;
    height: auto;
    transition: opacity .2s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
}

#view .details {
    background-color: var(--dm-button-bg-color) !important;
    background-image: var(--dm-button-bg-image) !important;
    box-shadow: var(--dm-button-box-shadow) !important;
}

.modal-dialog {
    top: 0 !important
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}