@media all and (display-mode: browser) {
    body {
        /* display: none; */
    }
}
.custom-switch input[type=checkbox]:checked~label:after,
.custom-switch input[type=checkbox]~label:after{
    transition: left .2s ease
}

.cover-img {
    object-fit: cover
}

.contain-img {
    object-fit: contain
}

.banner {
    height: 400px;
    opacity: 0.85
}

.mt-nc {
    margin-top: -150px
}

.view {
    min-height: 100%;
}

.desc {
    max-height: 210px
}

.card-grid {
    display: grid;
    grid-template-rows: auto 1fr auto
}

.card-desc p {
    margin: 0
}

.gallery .details span+span::before {
    content: " • "
}

.gallery .card {
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease
}

.gallery .card:hover {
    transform: scale(1.05)
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 520px);
    grid-auto-rows: 280px;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem
}

.pointer {
    cursor: pointer
}

section {
    display: none;
}

section:target {
    display: flex;
    height: 100%
}

.w-28 {
    width: 2.8rem;
}

.noarrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.material-icons {
    font-size: 18px;
    align-self: center
}

.close {
    font-family: Arial;
}