.cover-img {
    object-fit: cover;
    height: 100%;
    width: 100%
}
.contain-img {
    object-fit: contain;
    width: 100%
}
.banner {
    height: 400px;
    opacity: 0.85
}
.mt-nc{
    margin-top: -150px
}
.view{
    min-height: 100%;
}
.desc {
    max-height: 210px
}

.card-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.card-desc p{
    margin: 0
}
.gallery .details span + span::before{
    content: " • "
}

.gallery .card {
    cursor: pointer;
    overflow: hidden;
    transition: transform .2s ease;
}
.gallery .card:hover {
    transform: scale(1.05)
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 520px);
    grid-auto-rows: 280px;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem;
}
