:root {
  --navbar-height: 28px;
  --accent-color: #e5204c;
  --dm-link-text-color: var(--dm-muted-text-color) !important;
  --dm-link-text-color-hover: var(--dm-text-color) !important;
  --base-html-font-size: 50%;
  --base-html-font-size-1600: 50%;
  --base-html-font-size-1920: 62.5%;
  --tooltip-width: 17rem;
  --card-border-width: 0;
  --sidebar-border-width: 0;
  --input-border-width: 0;
  --sidebar-minimised: 0px;
  --sidebar-width: 0px;
  --navbar-height: 7rem;
  --dark-color-base-hue: 220deg !important;
  --dark-color-base-saturation: 10% !important;
  --dark-color-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 10% !important;
  --dark-color-light: #25292F !important;
  --dm-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  --dm-input-border-color: none;
  --gray-color-light: hsl(var(--gray-color-light-hsl));
  --gray-color-light-hsl: var(--gray-color-base-hue), 10%, 28%;
  --gray-color-base-hue: 216;
  color-scheme: dark;
}

@media (min-width: 769px) {
  :root {
    --sidebar-minimised: 7rem;
    --sidebar-width: 7rem;
    --navbar-height: 0px;
  }
}

.btn-secondary {
  --dm-button-secondary-bg-color: #fff !important;
  --dm-button-secondary-bg-color-hover: #ddd !important;
  --dm-button-secondary-bg-color-focus: var(--dm-button-secondary-bg-color) !important;
}

[data-sonner-toaster][data-theme='dark'] {
  --normal-bg: var(--dark-color) !important;
  --normal-border: none !important;
  --normal-text: var(--dm-base-text-color) !important;

  /* --success-bg: var(--success-color) !important; */
  --success-border: none !important;
  /* --success-text: var(--lm-base-text-color) !important; */

  /* --error-bg: hsl(358, 76%, 10%); */
  --error-border: none !important;
  /* --error-text: hsl(358, 100%, 81%); */
}

.z-100 {
  z-index: 100;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined Variable";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 64;
}

.filled {
  font-variation-settings: 'FILL' 1;
}

.pointer {
  cursor: pointer;
}

.h-10 {
  height: 1rem !important;
}
.h-25 {
  height: 2.5rem !important;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  font-family: 'Nunito Variable'
}

.font-weight-very-bold {
  font-weight: 900;
}

.bg-black {
  background: #000;
}

img {
  -webkit-user-drag: none;
}

.select-all {
  user-select: all;
}

img[src=''], img[src=' '] {
  display: none;
}

::-webkit-inner-spin-button {
  display: none;
}

*:focus-visible {
  outline: none;
  box-shadow: var(--dm-button-primary-box-shadow-focus) !important;
}

.modal:focus-visible {
  box-shadow: none !important;
}

.root {
  animation: 0.3s ease 0s 1 load-in;
}

.content-visibility-auto {
  content-visibility: auto;
}

.nav-hidden > .content-wrapper {
  left: 0 !important;
  width: 100% !important;
}

@keyframes skeleloader {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: -100%;
  }
}
@keyframes load-in {
  from {
    transform: translateY(1.2rem) scale(0.95);
  }

  to {
    transform: none
  }
}

.skeloader {
  position: relative;
  overflow: hidden;
}

.skeloader .skeleloader-swipe {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, #17191c 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: skeleloader 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.align-content-start {
  align-content: start;
}

.cover-img {
  object-fit: cover;
}
.pre-wrap {
  white-space: pre-wrap
}

.px-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}