:root {
  --accent-color: #e5204c;
  --dm-link-text-color: var(--dm-muted-text-color) !important;
  --dm-link-text-color-hover: var(--dm-text-color) !important;
  --base-html-font-size: 50%;
  --base-html-font-size-1600: 50%;
  --base-html-font-size-1920: 62.5%;
  --tooltip-width: 17rem;
  --card-border-width: 0;
  --sidebar-border-width: 0;
  --input-border-width: 0;
  --sidebar-minimised: 0px;
  --sidebar-width: 0px;
  --navbar-height: 7rem;
  --dark-color-base-hue: 220deg !important;
  --dark-color-base-saturation: 10% !important;
  --dark-color-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 10% !important;
  --dark-color-light: #25292F !important;
  --dm-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  --dm-input-border-color: none;
  --gray-color-light: hsl(var(--gray-color-light-hsl));
  --gray-color-light-hsl: var(--gray-color-base-hue), 10%, 28%;
  --gray-color-base-hue: 216;
  --safe-area-top: 0px;
  --safe-area-left: 0px;
  --sidebar-gradient: linear-gradient(90deg, #17191D 15.62%, rgba(23, 25, 29, 0.92) 36.46%, rgba(23, 25, 29, 0.619632) 70.83%, rgba(23, 25, 29, 0) 100%);
  --banner-gradient-bottom: linear-gradient(0deg, #17191D 0%, #0000 15%, #0000 100%);
  --banner-gradient-left: linear-gradient(90deg, #17191D 0%, rgba(23, 25, 29, 0.5) 75%, rgba(25, 28, 32, 0) 100%);
  --torrent-card-gradient: linear-gradient(90deg, #17191C 32%, rgba(23, 25, 28, 0.90) 100%);
  --episode-card-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 77.08%, rgba(0, 0, 0, 0.7) 100%);
  --episode-preview-card-gradient: linear-gradient(180deg, #0000 0%, #25292f00 80%, #25292f 95%, #25292f 100%);
  --preview-card-gradient: linear-gradient(180deg, #0000 0%, #25292f00 80%, #25292fe3 95%, #25292f 100%);
  --section-end-gradient: linear-gradient(270deg, #17191cff 0%, #17191c00 100%);
  color-scheme: dark;
}

@font-face {
  font-family: "Roboto";
  src: /* webpackIgnore: true */ url(Roboto.ttf) format("truetype");
  unicode-range: U+0000, U+0002, U+0009, U+000D, U+0020-007E, U+00A0-0377,
      U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
      U+03F0-052F, U+1AB0-1ABE, U+1D00-1DF5, U+1DFC-1F15, U+1F18-1F1D,
      U+1F20-1F45, U+1F48-1F4D, U+1F50-1F57, U+1F59, U+1F5B, U+1F5D,
      U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3, U+1FD6-1FDB,
      U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-2027, U+202F-205F,
      U+2070-2071, U+2074-208E, U+2090-209C, U+20A0-20BE, U+20DB-20DC,
      U+20E3, U+20E8, U+20F0, U+2100-2101, U+2103, U+2105-2106, U+2109,
      U+2113, U+2116-2117, U+211E-2123, U+2125-2126, U+212A-212B, U+212E,
      U+2132, U+213B, U+214D, U+214F-2189, U+2191, U+2193, U+2202, U+2206,
      U+220F, U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260,
      U+2264-2265, U+2423, U+25CA, U+2669-266F, U+27E6-27EF, U+2B4E-2B4F,
      U+2B5A-2B5F, U+2C60-2C7F, U+2DE0-2E42, U+A640-A69D, U+A69F,
      U+A700-A7AD, U+A7B0-A7B1, U+A7F7-A7FF, U+A92E, U+AB30-AB5F,
      U+AB64-AB65, U+EE01-EE02, U+F6C3, U+FB00-FB06, U+FE20-FE2D, U+FEFF,
      U+FFFC-FFFD, U+1F16A-1F16B;
}

.dark-mode {
  background-color: var(--dark-color) !important;
}

.h-30 {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 769px) {
  :root {
    --sidebar-minimised: 7rem;
    --sidebar-width: 7rem;
    --navbar-height: 0px;
  }
}

.line-height-1 {
  line-height: 1;
}

.line-height-normal {
  line-height: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a[href]:active, button:not([disabled]):active, fieldset:not([disabled]):active, input:not([disabled], [type='range']):active, optgroup:not([disabled]):active, option:not([disabled]):active, select:not([disabled]):active, textarea:not([disabled]):active, details:active, [tabindex]:not([tabindex="-1"], .seekbar, .dropdown):active, [contenteditable]:active, [controls]:active {
  transition: transform 0.1s ease-in-out;
  transform: scale(0.95) !important;
}

.btn-secondary {
  --dm-button-secondary-bg-color: #fff !important;
  --dm-button-secondary-bg-color-hover: #ddd !important;
  --dm-button-secondary-bg-color-focus: var(--dm-button-secondary-bg-color) !important;
}

[data-sonner-toaster][data-theme='dark'] {
  --normal-bg: var(--dark-color) !important;
  --normal-border: none !important;
  --normal-text: var(--dm-base-text-color) !important;

  /* --success-bg: var(--success-color) !important; */
  --success-border: none !important;
  /* --success-text: var(--lm-base-text-color) !important; */

  /* --error-bg: hsl(358, 76%, 10%); */
  --error-border: none !important;
  /* --error-text: hsl(358, 100%, 81%); */
}

[data-sonner-toaster] [data-description] {
  white-space: pre-wrap;
}

.z-100 {
  z-index: 100;
}

.text-dark-light {
  color: var(--gray-color-light);
}

.pointer {
  cursor: pointer;
}

.h-10 {
  height: 1rem !important;
}
.h-25 {
  height: 2.5rem !important;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  font-family: 'Nunito Variable'
}

.font-weight-very-bold {
  font-weight: 900;
}

.bg-black {
  background: #000;
}

.btn:disabled {
  opacity: 0.3 !important;
}

img {
  -webkit-user-drag: none;
}

.select-all {
  user-select: all;
}

img[src=''], img[src=' '] {
  display: none;
}

::-webkit-inner-spin-button {
  display: none;
}

*:focus-visible {
  outline: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1.5px #eee !important;
}

.btn-secondary:focus-visible {
  box-shadow: inset 0 0 0 1.5px #000 !important;
}

.modal:focus-visible {
  box-shadow: none !important;
}

.root {
  animation: 0.3s ease 0s 1 load-in;
}

.content-visibility-auto {
  content-visibility: auto;
}

.nav-hidden > .content-wrapper {
  left: 0 !important;
  width: 100% !important;
}

@keyframes skeleloader {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: -100%;
  }
}
@keyframes load-in {
  from {
    transform: translateY(1.2rem) scale(0.95);
  }

  to {
    transform: none
  }
}

.skeloader {
  position: relative;
  overflow: hidden;
}

.skeloader .skeleloader-swipe {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, hsl(var(--dark-color-hsl)) 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: skeleloader 1s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.align-content-start {
  align-content: start;
}

.cover-img {
  object-fit: cover;
}
.pre-wrap {
  white-space: pre-wrap
}

.px-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (min-width: 769px) {
  .px-md-50 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}