/node_modules/
android/*
!android/app
android/app/*
!android/app/src
android/app/src/*
!android/app/src/main
android/app/src/main/*
!android/app/src/main/java
android/app/src/main/java/*
!android/app/src/main/java/watch
android/app/src/main/java/watch/*
!android/app/src/main/java/watch/miru
android/app/src/main/java/watch/miru/*
!android/app/src/main/java/watch/miru/MainActivity.java
ios/

package-lock.json
.env
.DS_Store
