name: Build/release

on:
  push:
    branches:
      - 'main'
      - 'master'

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Install Setuptools for Python
        if: matrix.os == 'macos-latest'
        run: pip3 install setuptools --break-system-packages

      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          submodules: 'true'
          token: ${{ secrets.MIRU_SUBMODULES_PAT }}
    
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - name: Install dependencies
        run: cd electron && pnpm install --frozen-lockfile

      - name: Build and Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CSC_LINK: ${{ secrets.APPLE_SIGNING_CERT }}
          # API_KEY: ${{ secrets.APPLE_API_KEY }}
          # APPLE_API_KEY: apple.p8
          # APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          # APPLE_API_ISSUER: ${{ secrets.APPLE_API_ISSUER }}
        run: cd electron && npm run publish
